html{
	background: #80cbc4;
}
#head{
	text-align: center;
	/*text-shadow: 4px 4px 8px #aaa;*/

	height:50vh;
	padding-top: 40px;
}
.parallaxs{
		background-image: url('../images/select.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
#header{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	text-align: center;
	font-size: 80px;
	margin: 0px;
	padding-top: 0px;
	/*margin-bottom: 30px;*/
	color: white;
}
#head{
	font-size: 40px;
	font-weight: 300;
	color: white;
	margin-top: 64px;
	min-height: 320px;
}
#foss{
	font-style: normal;
	/*animation: weird 2s;*/
	position: relative;
	left: 5px;
	transition: visibility .5s;
}

@media only screen and (max-width: 450px)
{
	#foss{
		visibility: hidden;
	}
	#logo{
		width: 100%;
		height: 50%;
	}
}


@media only screen and (max-width:450px)
{
	#foss{
		visibility: hidden;
	}
}
@keyframes weird{
	0%{
		font-style: normal;
	}
	10%{
		font-style: italic;
		color: white;
		background: black;
	}
	15%{
		font-style: normal;
		color: black;
		background: white;
	}
	40%{
		font-style: italic;
		color: white;
		background: black;
	}
	42%{
		font-style: normal;
		color: black;
		background: white;
	}
	70%{
		font-style: italic;
		color: white;
		background: black;
	}
	100%{
		font-style: normal;
		color: black;
		background: white;
	}
}
#nav{
	text-align: center;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 1;
}
.navul{
	text-decoration: none;
	list-style-type: none;
	margin: 0px;
	background: #00796b;
	padding: 0px;
	box-shadow: 0px 23px 46px 0px rgba(0,0,0,.5);
}
.navli{
	display: inline;
		width: 60px;
}
.nava{
	text-decoration: none;
	display: inline-block;
	color: #fff;
	padding: 20px;
font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	font-size: 20px;
	transition: .5s ease;
}
.nava:hover{
	background: #999;
	transform: translateY(-1px);
}
.container{
	width: 90%;
	margin-left: auto;
	background: rgba(255,255,255,.85);
	margin-right: auto;
	/*margin-top: 50px;*/
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	transition: .3s ease;
	/*transition: transform .1s;*/
	overflow: hidden;
	/*margin-bottom: 30px;*/
}
.container:hover{
	transform: translateY(-5px);
	box-shadow: 0 19px 38px rgba(0,0,0,0.35), 0 15px 12px rgba(0,0,0,0.27);
}
.col4{
	width: 45%;
	margin-left: 20px;
	margin-right: 20px;
	display: inline-block;
	margin-top: 0px;
}
#right{
	float: right;
}
#left{
	text-align: justify;
}
.container-fluid{
	width: 90%;
	text-align: justify;
	padding: 20px;
	margin: 10px;
	margin-left: auto;
	margin-right: auto;
}

.slabo{
	font-family: 'Raleway', sans-serif;
	font-size: 17px;
	font-weight: 500;
}
.bottom{
	margin-bottom: 50px;
}
#logo{
	height: 180px;
	width: 271.2px;
}
.content{
	padding-top: 50px;
	padding-bottom: 50px;
	box-shadow: 0px -23px 46px 0px rgba(0,0,0,.7);

}
.shadow{
		transform: translateY(-5px);
	box-shadow: 0px 0px 46px 10px rgba(0,0,0,.4);	
}